[Unit]
Description=Grow Flask Sensor Service
Requires=grow-flask.socket
After=network.target

[Service]
Type=notify
User=pi
Group=users
RuntimeDirectory=gunicorn
WorkingDirectory=/home/pi/grow-node/ui
ExecStart=/home/pi/.pyenv/shims/gunicorn wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target