[Unit]
Description=Grow Flask Sensor API
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/grow-node
Environment=FLASK_APP=/home/pi/grow-node/ui/app.py
ExecStart=flask run --host=0.0.0.0
Restart=always
User=pi

[Install]
WantedBy=multi-user.target